<%= render partial: 'application/errors', locals: { errors: @drink.errors.full_messages } %> 

<div class="container">
<%if @item %>
  <h3>Create a New Drink with <%= @item.name %></h3>
<%else%>
  <h3>Create a New Drink</h3>
<%end%>  

<%= render 'form' %>

</div>