<div class="row">
<% items.each do |i| %>
  <div class="col-sm">
    <div class="card" id="drink-gallery" style="width: 14rem;">
      <img class="card-img-top" src="<%= i.image_url %>" alt="<%= i.name %> thumbnail">
      <div class="card-body">
        <p class="card-title"><%= link_to i.name, item_path(i) %></p>
      </div><br>
    </div>
</div>
<%end%>
</div>