<h1>All Items</h1>

<%= form_tag items_path, method: :get do %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search Ingredient" %>
<%end%>    

<% @items.each do |item| %>
<li><%= link_to item.name, item_path(item) %></li>
<%end%>    