<div class="container">

<p class="flash"><%= flash[:message] %></p>

<%= render partial: 'application/errors', locals: { errors: @item.errors.full_messages } %> 

<h3>Create a New Item</h3>

<%= render 'form' %>

</div>